<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.byecar.byecarplusfordealer"
    android:versionCode="4"
    android:versionName="1.0.3" >
    
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <supports-screens android:largeScreens="true" android:anyDensity="true" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>
	<uses-permission android:name="com.byecar.byecarplusfordealer.permission.C2D_MESSAGE"/>    	
	<permission android:name="com.byecar.byecarplusfordealer.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:name="com.byecar.classes.BCPApplication"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        
        <service android:name=".GCMIntentService" />
        
        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
                <category android:name="com.byecar.byecarplusfordealer" />
            </intent-filter>
        </receiver>
        
        <activity
            android:name=".SignActivity"
            android:screenOrientation="portrait"
        	android:windowSoftInputMode="stateHidden|adjustResize"
        	android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale" >
        	
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".MainActivity"
		    android:screenOrientation="portrait"
        	android:windowSoftInputMode="stateHidden|adjustResize"
        	android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale" />
        
        <activity android:name="com.outspoken_kid.activities.ImageSelectActivity"
		    android:screenOrientation="portrait"
        	android:windowSoftInputMode="stateHidden|adjustResize"
        	android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale" />
        
        <activity 
            android:name=".ImageViewer"
        	android:screenOrientation="portrait"
        	android:windowSoftInputMode="stateHidden"
        	android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale" />

        <activity 
            android:name=".GuideActivity"
        	android:screenOrientation="portrait"
        	android:windowSoftInputMode="stateHidden"
        	android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale" />

        <activity 
            android:name=".TutorialActivity"
        	android:screenOrientation="portrait"
        	android:windowSoftInputMode="stateHidden"
        	android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale" />
        
        <activity 
            android:name=".MultiSelectGalleryActivity"
        	android:screenOrientation="portrait"
        	android:windowSoftInputMode="stateHidden"
        	android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale" />
        
        <activity 
            android:name=".IntentHandlerActivity"
        	android:screenOrientation="portrait"
        	android:theme="@style/Theme.Transparent"
        	android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|fontScale" >
            
            <intent-filter>
	            <action android:name="android.intent.action.VIEW"/>
	            <category android:name="android.intent.category.DEFAULT" />
	            <category android:name="android.intent.category.BROWSABLE" />
	            <data android:scheme="byecar" />
			</intent-filter>
            
        </activity>
        
    </application>

</manifest>
